
@import url(/static/all.css);
@import url(/static/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* _______________________________Html element styling_________________________ */

 html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;

}

ul li {
    list-style: none;
}
a {
    font-size: 1.6rem;
    text-decoration: none;
}

p,
li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15rem;
}


h1,
h2,
h3 {
    font-weight: 500;
    letter-spacing: 0.15rem;
} 
/* _________________x____________ Html element styling ____________x____________ */

/* _____________________________   Utility classes  _______________________________ */

:root{
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}


.lg-heading {
    font-size: 3.5rem;
}

.md-heading {
    font-size: 2.2rem;
}

.text-red {
    color: #e63946;
}

.text-light {
    color: #f4f4f4;
}

.text-black {
    color: #333;
}

.text-gray {
    color: #555;
}

.text-orange {
    color: orange;
}

.bg-dark {
    background: #263238;
}
.btn{
    color: #333;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    background: orange;
    cursor: pointer;
}


.btn:hover {
    color: #0FC4D0;
    background: transparent;
    border: px solid orange;
}

/* ______________x______________   Utility classes  ________________x______________ */



/* ___________________________________Header styling______________________________ */

.header {
    position: relative;
    height: 100vh; 
    
}

.header .video-container video{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}
 .nav-bar .container{   
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    align-items: center;
    justify-content: space-around;


}


.header h1 span{
    color: orange;
}
.nav-bar a{
    color: #f4f4f4;
    padding-bottom: 0.3rem;

}

.nav-bar a:hover {
    border-bottom: 1px solid #f4f4f4;
}
.nav-bar .nav-items ul{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    text-transform: uppercase;
}

   


.nav-bar .nav-item {
    padding: 1rem 5rem;

}

.header-content {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content h1 {
    text-transform: uppercase;
    font-weight: 700;

}
.header-content .se_heading{
    margin-bottom: 2rem;

}

.header-content .btn{
    padding: 1rem 2rem;
    font-size: 2.5rem;

}

/* ________x__________ Header styling  ______________x____________ */


/* ____________________form Styling _______________________________ */
section .container{
    display: flex;  
    border: 2px solid red;
    background: black;
    border-top: 15rem solid white; 
    padding: 5rem;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.form{
    position: relative;
    max-width: 50%;
    background: black;
    color: #f4f4f4;
   
}
.table_container {  
    border: 4px solid #555; 
    flex-direction: column;
    padding: 1rem;
    max-height: 90vh;
    overflow:scroll;
    text-align: -webkit-center;
}

table tr td {
    background: white;
    padding: 0 .328rem;
    font-size: 2rem;
    margin: 2rem;

}
.form h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

form{
    display: flex;
}
.form input{    
    margin: 1rem 0;
    padding: 1rem;
    font-size: 2rem;
    width: 50%;
}

.form  .form-btn{
    padding: 0;
    display: block;
    font-size: 2rem;
    padding-top: 1rem;
    border: 2px solid orange;

}


/* __________x_________form Styling _______________x_____________ */

/* ______________________ About _______________________ */
 section .container .about{
    color: #fff;
    width: 50%;
    right:0;

 }


 section .container .about h1 span{
    text-transform: uppercase;
    background: orange;
    font-size: 3rem;
    padding: 0 .4rem;
    margin: 0;
    border-radius: .5rem;
 }

 
.about .video-container video{
    position: relative;   
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ?? */